In [13]:
import pyspark

In [14]:
from pyspark.sql import SparkSession
 
spark = SparkSession.builder.getOrCreate()

In [15]:
spark

In [18]:
filename = '../data/nyc-parking-violations-2020.csv'

df = spark.read.csv(filename, header=True)

In [20]:
df.groupby('Vehicle Color').count().show()

+-------------+------+
|Vehicle Color| count|
+-------------+------+
|         BLEU|     1|
|         GYPR|    47|
|         DKBK|    14|
|          RDG|    86|
|          DK/|  7498|
|         BKGL|    56|
|        SILIV|    11|
|          RED|161693|
|         BLTN|    85|
|         DKWH|     7|
|          BUR|   118|
|           SC|     6|
|          TEA|    30|
|          BLK| 91539|
|          MRN|    45|
|         YELO|     3|
|         BRWN|   201|
|          RDT|    87|
|           SL| 10343|
|        MULTI|    35|
+-------------+------+
only showing top 20 rows

In [39]:
filename = '../data/taxi.csv'

df = spark.read.csv(filename, header=True, timestampFormat='yyyy-MM-dd HH:mm:ss')

In [40]:
df.schema

StructType([StructField('VendorID', StringType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', StringType(), True), StructField('trip_distance', StringType(), True), StructField('pickup_longitude', StringType(), True), StructField('pickup_latitude', StringType(), True), StructField('RateCodeID', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('dropoff_longitude', StringType(), True), StructField('dropoff_latitude', StringType(), True), StructField('payment_type', StringType(), True), StructField('fare_amount', StringType(), True), StructField('extra', StringType(), True), StructField('mta_tax', StringType(), True), StructField('tip_amount', StringType(), True), StructField('tolls_amount', StringType(), True), StructField('improvement_surcharge', StringType(), True), StructField('total_amount', StringType(), True)])

In [36]:
df.describe()

DataFrame[summary: string, VendorID: string, tpep_pickup_datetime: string, tpep_dropoff_datetime: string, passenger_count: string, trip_distance: string, pickup_longitude: string, pickup_latitude: string, RateCodeID: string, store_and_fwd_flag: string, dropoff_longitude: string, dropoff_latitude: string, payment_type: string, fare_amount: string, extra: string, mta_tax: string, tip_amount: string, tolls_amount: string, improvement_surcharge: string, total_amount: string]

In [33]:
df[['tpep_pickup_datetime']].show()

+--------------------+
|tpep_pickup_datetime|
+--------------------+
| 2015-06-02 11:19:29|
| 2015-06-02 11:19:30|
| 2015-06-02 11:19:31|
| 2015-06-02 11:19:31|
| 2015-06-02 11:19:32|
| 2015-06-02 11:19:33|
| 2015-06-02 11:19:34|
| 2015-06-02 11:19:35|
| 2015-06-02 11:19:36|
| 2015-06-02 11:19:38|
| 2015-06-02 11:19:38|
| 2015-06-02 11:19:39|
| 2015-06-02 11:19:40|
| 2015-06-02 11:19:41|
| 2015-06-02 11:19:41|
| 2015-06-02 11:19:42|
| 2015-06-02 11:19:44|
| 2015-06-02 11:19:44|
| 2015-06-02 11:19:45|
| 2015-06-02 11:19:47|
+--------------------+
only showing top 20 rows

In [41]:
from pyspark.sql.types import TimestampNTZType
from pyspark.sql

In [50]:
output_df = df.withColumn("tpep_pickup_datetime",df["tpep_pickup_datetime"].cast(TimestampNTZType()))

In [53]:
output_df.head(5)

[Row(VendorID='2', tpep_pickup_datetime=datetime.datetime(2015, 6, 2, 11, 19, 29), tpep_dropoff_datetime='2015-06-02 11:47:52', passenger_count='1', trip_distance='1.63', pickup_longitude='-73.954429626464844', pickup_latitude='40.764141082763672', RateCodeID='1', store_and_fwd_flag='N', dropoff_longitude='-73.974754333496094', dropoff_latitude='40.754093170166016', payment_type='2', fare_amount='17', extra='0', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='17.8'),
 Row(VendorID='2', tpep_pickup_datetime=datetime.datetime(2015, 6, 2, 11, 19, 30), tpep_dropoff_datetime='2015-06-02 11:27:56', passenger_count='1', trip_distance='.46', pickup_longitude='-73.971443176269531', pickup_latitude='40.758941650390625', RateCodeID='1', store_and_fwd_flag='N', dropoff_longitude='-73.978538513183594', dropoff_latitude='40.761909484863281', payment_type='1', fare_amount='6.5', extra='0', mta_tax='0.5', tip_amount='1', tolls_amount='0', improvement_surcharge='0.3', total_amount='8.3'),
 Row(VendorID='2', tpep_pickup_datetime=datetime.datetime(2015, 6, 2, 11, 19, 31), tpep_dropoff_datetime='2015-06-02 11:30:30', passenger_count='1', trip_distance='.87', pickup_longitude='-73.978111267089844', pickup_latitude='40.738433837890625', RateCodeID='1', store_and_fwd_flag='N', dropoff_longitude='-73.990272521972656', dropoff_latitude='40.745437622070313', payment_type='1', fare_amount='8', extra='0', mta_tax='0.5', tip_amount='2.2', tolls_amount='0', improvement_surcharge='0.3', total_amount='11'),
 Row(VendorID='2', tpep_pickup_datetime=datetime.datetime(2015, 6, 2, 11, 19, 31), tpep_dropoff_datetime='2015-06-02 11:39:02', passenger_count='1', trip_distance='2.13', pickup_longitude='-73.945892333984375', pickup_latitude='40.773529052734375', RateCodeID='1', store_and_fwd_flag='N', dropoff_longitude='-73.971527099609375', dropoff_latitude='40.760330200195312', payment_type='1', fare_amount='13.5', extra='0', mta_tax='0.5', tip_amount='2.86', tolls_amount='0', improvement_surcharge='0.3', total_amount='17.16'),
 Row(VendorID='1', tpep_pickup_datetime=datetime.datetime(2015, 6, 2, 11, 19, 32), tpep_dropoff_datetime='2015-06-02 11:32:49', passenger_count='1', trip_distance='1.40', pickup_longitude='-73.979087829589844', pickup_latitude='40.776771545410156', RateCodeID='1', store_and_fwd_flag='N', dropoff_longitude='-73.982162475585937', dropoff_latitude='40.758998870849609', payment_type='2', fare_amount='9.5', extra='0', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='10.3')]